ApplicationRepTest/ApplicationRepTest/bin/
ApplicationRepTest/ApplicationRepTest/obj/ApplicationRepTest.csproj.nuget.dgspec.json
ApplicationRepTest/ApplicationRepTest/obj/ApplicationRepTest.csproj.nuget.g.props
ApplicationRepTest/ApplicationRepTest/obj/ApplicationRepTest.csproj.nuget.g.targets
ApplicationRepTest/ApplicationRepTest/obj/project.assets.json
ApplicationRepTest/ApplicationRepTest/obj/project.nuget.cache
ApplicationRepTest/ApplicationRepTest/obj/project.packagespec.json
ApplicationRepTest/ApplicationRepTest/obj/rider.project.restore.info
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/apphost.exe
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.AssemblyInfo.cs
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.AssemblyInfoInputs.cache
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.assets.cache
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.csproj.AssemblyReference.cache
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.csproj.CoreCompileInputs.cache
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.csproj.FileListAbsolute.txt
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.dll
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.GeneratedMSBuildEditorConfig.editorconfig
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.genruntimeconfig.cache
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ApplicationRepTest.pdb
ApplicationRepTest/ApplicationRepTest/obj/Debug/net5.0/ref/ApplicationRepTest.dll
ApplicationRepTest/.idea/
